<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @update.message %>
</p>

<p>
  <strong>Active:</strong>
  <%= @update.active %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
